.subtitle
{
    color: rgb(180,180,180);
    font-size: 13px;
}

.stat-value
{
    font-size: 34px;
    color: white;
    unity-font-style: bold;
    margin-top: 10px;
}

.hero-title
{
    font-size: 24px;
    color: white;
    unity-font-style: bold;
}

.hero-subtitle
{
    font-size: 13px;
    color: rgb(180,180,180);
}

.sidebar-button
{
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 8px;
}