#Root
{
    flex-direction: row;
    flex-grow: 1;
}

#Sidebar
{
    width: 230px;

    background-color: rgb(30,30,30);

    padding-top: 20px;

    padding-left: 10px;

    padding-right: 10px;
}

#Logo
{
    unity-font-style: bold;

    font-size: 24px;

    color: rgb(255,210,80);

    margin-bottom: 25px;

    unity-text-align: middle-center;
}

#Sidebar Button
{
    height: 42px;

    margin-bottom: 8px;

    unity-text-align: middle-left;

    font-size: 14px;
}

#Content
{
    flex-grow: 1;

    padding-left: 30px;

    padding-top: 25px;

    background-color: rgb(46,46,46);
}

#Title
{
    font-size: 26px;

    unity-font-style: bold;

    color: rgb(255,215,80);
}

#Subtitle
{
    font-size: 16px;

    color: rgb(190,190,190);

    margin-bottom: 20px;
}